<header>
    <h1>RPD</h1>
    <span class="menu"><i class="glyphicon glyphicon-align-justify"></i></span>
    <% if (typeof(uname) !== 'undefined') { %>
    	<span class="uname"><%= uname %></span>
    <% } %>
</header>