<!DOCTYPE html>
<html>
<head>
    <% include ../inc/meta.ejs %>
    <title>orderlist</title> 
    <!--<link rel="stylesheet" href="static/pagescript/demo/404/css/main.css">-->
    <link rel="stylesheet/less" href="<%= staticurl %>pagescript/demo/404/less/main.less"/>
    <% include ../inc/lessconf.ejs %>
</head>
<body>
<div class="container">
    <header>
        <h1>RPD</h1>
        <span class="menu"><i class="glyphicon glyphicon-align-justify"></i></span>
    </header>
	<div class="box">敬请期待...</div>
</div>
</body>
<% include ../inc/requireconf.ejs %>
<script defer src="<%= staticurl %>common/core/require.js" data-main="pagescript/demo/404/js/main"></script>
</html>