<!DOCTYPE html>
<html>
<head>
    <% include ../inc/meta.ejs %>
    <title>orderlist</title> 
    <!--<link rel="stylesheet" href="static/pagescript/demo/echarts/css/main.css">-->
    <link rel="stylesheet/less" href="<%= staticurl %>pagescript/demo/echarts/less/main.less"/>
    <% include ../inc/lessconf.ejs %>
</head>
<body>
<div id="container">
    <% include template/header.ejs %>
    <h3>实时(间隔3秒)</h3>
	<div class="mod" id="progress">
		<div id="charts1"></div>
        <div id="charts2"></div>
        <div id="charts3"></div>
        <div id="charts4"></div>
	</div>
</div>
</body>
<% include ../inc/requireconf.ejs %>
<script defer src="<%= staticurl %>common/core/require.js" data-main="pagescript/demo/echarts/js/main"></script>
</html>